.grid{
    border: 1px solid black;
}
.cell{
    width: 27px;
    height: 27px;
    background: red;
    outline: 1px solid lime;
    float: left;
}
.apple{
    background: url('../assets/apple.png')
}
.grape{
    background: url('../assets/grape.png')
}
.orange{
    background: url('../assets/orange.png')
}
.cherry{
    background: url('../assets/cherry.png')
}