.grid{
    border: 1px solid black;
    padding: 2px;
}
.cell{
    width: 27px;
    height: 27px;
    background: red;
    float: left;
}
.apple{
    background: url('../assets/apple.png')
}
.grape{
    background: url('../assets/grape.png')
}
.orange{
    background: url('../assets/orange.png')
}
.cherry{
    background: url('../assets/cherry.png')
}
.cell:hover{
    cursor: pointer;
    /*border-color: red;*/
    /*outline: 1px solid red;*/
}
.removed{
    background-image: none !important;
}